# Python Virtual Environment Setup
# ---------------------------------
pyenv/
venv.txt

# Virtual Box VMs Definition File Path
# ------------------------------------
VBox_VMs/

# Folder for backup data and logs
#--------------------------------
.db/

# Other files to ignore:
**/__pycache__